body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

#status {
  margin-top: 20px;
  color: green;
}